# Ignore Python cache files
__pycache__/
*.py[cod]

# Model files
*.h5
*.hdf5

# Notebook checkpoints
.ipynb_checkpoints/

# Environment folders
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Streamlit temp/logs
*.log
*.tmp

# IDE configs
.vscode/
.idea/

# Presentations and extras
*.pptx
